<%include ./partials/header.ejs %>
<% if(allPosts){ %>
    <% allPosts.reverse().forEach(function(elem){ %>
     <br>
     <div class="border">
       <div class="text-center">
         <p><strong><%= elem.author.username %> </strong><i> uploaded a post.</i></p>
         <% if(elem.content){%>
           <img src="/images/uploads/<%= elem.content %>" class="figure-img img-fluid rounded img-thumbnail">
         <% }%>
           <p><%= elem.desc %></p>
           <button class="rounded-3" style="text-decoration: none;"><a href="/likes/<%= elem._id %>"><%= elem.likes.length %> Likes</a></button>
           <br><br>
        </div>
     </div><br>
     <% }) %>
 <% } else { %>
         <h1>Oops !! No items here.</h1>
        <a href="/createpost">Upload your photo!</a>
 <% } %>
